/*CSS DOCUMENT */


body {
	background-color: rgb(220 220 220);
	color: #333333;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14pt;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(80, 80, 80);
}

h1 {
	font-size: 48pt; 
	font-weight: bolder;
	margin: 1em 0em .5em 0em;
}

.Acumin-typeface {
	font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal;
color: rgb(211, 91, 48);
}

.Univers-typeface {
	font-family: "univers-next-pro", sans-serif;
font-weight: 700;
font-style: normal;
color: rgb(0, 172, 236);
}

.Comparison{
	font-style: italic;
	margin: 0em 0em 0em 0em;
}

h2 {
	font-size: 24pt; 
	font-weight: bold;
	margin: .5em 0em .5em 0em;
}

h3 {
	font-size: 18pt; 
	font-weight: normal;
}
